.base-decorator {
  content: "";
  background-color: var(--color-dark);
  width: var(--decorator-size);
  height: 2px;
  display: block;
  position: absolute;
}
.experience-layout {
  display: flex;
  gap: calc(var(--decorator-size) + 82px);
  padding-right: 40px;

  margin-bottom: calc(145px + var(--decorator-size));

  & .title-wrapper {
    position: relative;
    @include flex(flex-start);
    gap: 122px;
    width: 246px;
    flex-direction: column;
    padding: 86px 16px 0;
    height: fit-content;

    img {
      position: absolute;
      right: 51px;
      bottom: 105px;
    }
  }

  .content {
    position: relative;
    margin-top: var(--decorator-size);
    width: fit-content;
    padding: 68px;
    width: 718px;
    @include flex();

    border: 2px solid var(--color-dark);

    .top-left-decorator,
    .top-right-decorator,
    .bottom-left-decorator,
    .bottom-right-decorator {
      position: absolute;

      &::after,
      &::before {
        @extend .base-decorator;
      }
    }

    .top-left-decorator {
      top: 0;
      left: 0;
      &::after {
        top: -2px;
        left: var(--decorator-size-negative);
      }

      &::before {
        top: -32px;
        left: -30px;
        transform: rotate(90deg);
      }
    }
    .top-right-decorator {
      top: 0;
      right: 0;

      &::after {
        top: -2px;
        right: var(--decorator-size-negative);
      }

      &::before {
        top: -32px;
        right: -30px;
        transform: rotate(90deg);
      }
    }
    .bottom-left-decorator {
      bottom: 0;
      left: 0;

      &::after {
        bottom: -2px;
        left: var(--decorator-size-negative);
      }

      &::before {
        bottom: -32px;
        right: -28px;
        transform: rotate(90deg);
      }
    }
    .bottom-right-decorator {
      bottom: 0;
      right: 0;

      &::after {
        bottom: -2px;
        right: var(--decorator-size-negative);
      }

      &::before {
        bottom: -32px;
        right: -30px;
        transform: rotate(90deg);
      }
    }
  }

  .content__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 37px;
    width: 100%;
    .order-row {
      display: flex;
      width: inherit;
      column-gap: 38px;
    }

    .order-row__color {
      @include flex();
      @include font-handlee(48px, 400, 150%);
      border-radius: var(--radii-xs);
      padding: 8px 30px;
      width: 95px;
      height: 88px;

      &--yellow {
        border: 2px solid var(--color-yellow);
        background-color: var(--color-yellow-soft);
      }

      &--blue {
        border: 2px solid var(--color-blue-soft);
        background-color: var(--color-blue);
      }

      &--pink {
        border: 2px solid var(--color-pink);
        background-color: var(--color-pink-soft);
      }
    }
    .order-row__content {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    .order-row__content-title {
      @include font-inter(24px, 400, 140%);
    }
    .order-row__content-description {
      @include font-inter(18px, 400, 140%);
    }
    .order-row__content-datetime {
      @include font-inter(16px, 400, 140%);
      color: var(--color-gray);
    }
  }
}

@media (max-width: 375px) {
  .experience-layout {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    gap: 32px;
    margin-bottom: 75px;

    & .title-wrapper {
      padding: 0;
      justify-content: flex-start;
      gap: 28px;
      width: 163px;
      height: 140px;

      & img {
        width: 24px;
        height: 38px;
        position: absolute;
        top: 32px;
        left: 4px;
        transform: rotate(32deg);
      }
    }

    & .top-left-decorator,
    .top-right-decorator,
    .bottom-left-decorator,
    .bottom-right-decorator {
      display: none;
    }

    .content {
      border: none;
      margin-top: 0;
      padding: 0;
      width: 310px;
      height: 204px;
    }

    .content__wrapper {
      gap: 18px;

      & .order-row {
        gap: 16px;

        & .order-row__color {
          padding: 5px 24px;
          width: 60px;
          height: 56px;
          font-size: 30px;
        }
      }

      & .order-row__content-title {
        font-size: 16px;
      }

      & .order-row__content-description {
        font-size: 10px;
      }

      & .order-row__content-datetime {
        font-size: 9px;
      }
    }
  }
}
