.projects-layout {
  display: flex;
  gap: 42px;
  margin-bottom: 145px;
  padding-right: 40px;

  & .title-wrapper {
    position: relative;
    @include flex(flex-start);
    gap: 122px;
    flex-direction: column;
    padding: 118px 16px 0;
    height: fit-content;

    & img {
      position: absolute;
      right: 51px;
      bottom: 105px;
    }
  }

  & .projects-content-wrapper {
    display: grid;
    grid-template-columns: 405px 405px;
    row-gap: 34px;
    column-gap: 34px;

    & .projects-content-item {
      border: 3px solid var(--color-dark);
      border-radius: var(--radii-xs);
      width: 405px;
      height: 454px;
      background: var(--color-secondary);
      padding: 20px 16px 28px 20px;

      & .projects-content-info {
        display: flex;
        gap: 38px;
        margin-top: 20px;

        & .projects-content-text {
          @include font-handlee(28px, 400, 100%);
        }
      }
    }
  }
}

// адаптив

@media (max-width: 375px) {
  .projects {
    height: fit-content;

    .projects-layout {
      flex-direction: column;
      padding-left: 16px;
      gap: 30px;
      margin-bottom: 75px;

      & .title-wrapper {
        padding: 0;
        justify-content: flex-start;
        gap: 28px;
        width: 163px;
        height: 140px;

        & img {
          width: 24px;
          height: 38px;
          position: absolute;
          top: 32px;
          left: 16px;
          transform: rotate(48deg);
        }
      }

      & .projects-content-wrapper {
        grid-template-columns: 300px;
        gap: 16px;

        & .projects-content-item {
          padding: 16px;
          width: 300px;
          height: 257px;

          & img {
            width: 266px;
            height: 159px;
            margin-bottom: 16px;
          }

          & .projects-content-info {
            width: 267px;
            height: 49px;
            margin: 0;
            gap: 26px;

            & .projects-content-text {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
