.promo {
  margin-bottom: 145px;

  & .promo-head {
    padding-left: 60px;
    width: fit-content;
  }
  & .promo-wrapper {
    display: flex;
    gap: 34px;
    // @include flex;

    & .promo-card {
      position: relative;
      border-radius: var(--radii-xs);
      width: 377px;
      height: 452px;
    }

    & .promo-card:nth-child(1) {
      border: 5px solid var(--color-yellow);
      box-shadow: var(--box-shadow-yellow);
      background: var(--color-yellow-soft);
      transform: rotate(-4deg);
    }

    & .promo-card:nth-child(2) {
      border: 5px solid var(--color-blue-soft);
      box-shadow: var(--box-shadow-blue);
      background: var(--color-blue);
      transform: rotate(5deg);
    }

    & .promo-card:nth-child(3) {
      border: 5px solid var(--color-pink);
      box-shadow: var(--box-shadow-pink);
      background: var(--color-pink-soft);
      transform: rotate(-5deg);
    }

    & .promo-card-subtitle_1 {
      display: block;
      transform: rotate(5deg);
      box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.08);
      background: var(--color-blue);
      width: 146px;
      height: 43px;
      @include font-handlee(32px, 400);
      position: absolute;
      right: -28px;
      top: 86px;
    }

    & .promo-card-subtitle_2 {
      display: block;
      transform: rotate(-5deg);
      box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.08);
      background: var(--color-pink-soft);
      width: 77px;
      height: 43px;
      @include font-handlee(32px, 400);
      position: absolute;
      right: 16px;
      top: -28px;
    }

    & .promo-card-subtitle_3 {
      display: block;
      transform: rotate(5deg);
      box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.08);
      background: var(--color-yellow-soft);
      width: 118px;
      height: 43px;
      @include font-handlee(32px, 400);
      position: absolute;
      right: -26px;
      top: 95px;
    }

    & .promo-card-content img {
      width: 60px;
      height: 60px;
    }

    & .promo-card-content {
      display: flex;
      flex-direction: column;
      row-gap: 36px;
      width: 100%;
      height: 100%;

      padding: 130px 52px;
    }

    & .promo-card-title {
      @include font-inter(36px, 500);
    }
  }
}
