.btn-primary {
  width: 206px;
  height: 70px;
  padding: 18px 48px;
  box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.12);
  background: var(--color-dark);
  @include font-inter(24px, 600, 24px);
  text-align: center;
  cursor: pointer;
  color: var(--color-light);
}

.btn-more {
  border: 2.24px solid;
  border-radius: 2px 27px 27px 27px;
  padding: 8px 22px 8px 16px;
  width: 50%;
  height: 45px;
  @include font-inter(16px, 500);
  text-align: center;
  cursor: pointer;

  position: relative;

  &::after {
    position: absolute;
    top: -22px;
    left: -20px;
  }

  &--pink {
    background: var(--color-pink);
    border-color: var(--color-pink-border);
    color: var(--color-light);

    &::after {
      content: url("../../images/arrows/pink_arrow.svg");
    }
  }

  &--blue {
    background: var(--color-blue-soft);
    border-color: var(--color-blue-border);
    color: var(--color-light);

    &::after {
      content: url("../../images/arrows/blue_arrow.svg");
    }
  }

  &--yellow {
    background: var(--color-yellow);
    border-color: var(--color-yellow-border);
    color: var(--color-light);

    &::after {
      content: url("../../images/arrows/yellow_arrow.svg");
    }
  }

  &--green {
    box-shadow: 4px 4px 11px 0 rgba(9, 33, 247, 0.16);
    background: var(--color-green);
    border-color: var(--color-green-border);
    color: var(--color-light);

    &::after {
      content: url("../../images/arrows/green_arrow.svg");
    }
  }
}

@media (max-width: 375px) {
  .btn-more {
    width: 104px;
    height: 49px;
    font-size: 12px;
    padding: 6px 16px 6px 13px;

    &--pink::after {
      width: 16px;
      height: 16px;
    }

    &--blue::after {
      width: 16px;
      height: 16px;
    }

    &--yellow::after {
      width: 16px;
      height: 16px;
    }

    &--green::after {
      width: 16px;
      height: 16px;
    }
  }
}
