body {
  color: var(--color-dark);
}

.base-layout-block {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("./../images/bg.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .base-layout-block {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin-left: 45px;
    margin-right: 19px;
  }
}

header {
  @extend .base-layout-block;
}

main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--color-dark);

  @extend .base-layout-block;
}

footer {
  @extend .base-layout-block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

.title {
  background-color: var(--color-pink-soft);
  width: fit-content;
  margin: 0;
  @include font-handlee(32px, 400);
  margin-bottom: 14px;
}

.subtitle {
  @include font-inter(24px, 400, 140%);
}

@media (max-width: 375px) {
  .title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .subtitle {
    font-size: 16px;
  }
}

.text-select {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: var(--color-pink-soft);
    z-index: -1;
  }
}
